<strong>Olá, {{ provider }}</strong>
<p>O usuário {{ user }} cancelou o agendamento confira mais detalhes abaixo:</p>
<p><strong>Data/Hora: {{ date }}</strong><br />
  <br />
  <small>O horário está novamente disponível.</small>
</p>
